<div class="imageblur">

    <div style="margin-top: 5em;"></div>

    <h1>SignUp</h1>
    <div style="margin-top: 5em;"></div>
    <div class="form">
        <form #registerForm=ngForm (ngSubmit)="onSubmit()">

            <div class="tab" style="color: #d44f63">
                <p class="p">CREATE USERNAME:</p>
                <input type="text" name="name" class="input" id="name" placeholder=""
                       [(ngModel)]="form.name" required>
                <div class="" [hidden]="!error.name">
                    {{error.name}}
                </div>
            </div>

            <div class="tab">
                <p class="p">EMAIL:</p>
                <input type="email" name="email" class="input" id="inputEmail3" placeholder=""
                       [(ngModel)]="form.email" required>
                <div class="" [hidden]="!error.email">
                    {{error.email}}
                </div>
            </div>


            <div class="tab">
                <p class="p">PASSWORD:</p>
                <input type="password" name="password" class="input" id="inputPassword3"
                       placeholder="" [(ngModel)]="form.password" required>
                <div class="" [hidden]="!error.password">
                    {{error.password}}
                </div>
            </div>


            <div class="tab">
                <p class="p">RE-ENTER PASSWORD:</p>
                <input type="password" name="password_confirmation" class="input" id="inputPassword4"
                       placeholder="" [(ngModel)]="form.password_confirmation" required>
            </div>


            <div class="tab">
                <button type="submit" class="button buttonPink" [disabled]="!registerForm.valid">Create Account
                </button>


                <a routerLink="/login">
                    <button class="button float-right buttonBlack">Already a Member?</button>
                </a>
            </div>
        </form>
    </div>
</div>
